<div class="row initiating-members-container" id="initiating-members">
    <div class="container text-center">
        <h2>Supporters</h2>
        <ul class="eclipsefdn-members-list list-inline margin-30 flex-center gap-40" data-ml-wg="oniro"
            data-ml-template="only-logos"></ul>
    </div>
</div>
