<div class="working-group-container row" id="working-group">
    <div class="container text-center">
        <h2>Oniro Working Group</h2>
        <p>A Proposed Eclipse Foundation Working Group</p>
        <p>The Oniro Working Group creates an ecosystem of organizations to support the community in the production and evolution of the Oniro technologies as well as to drive its commercial success across different industries. Such an ecosystem arises in a neutral-vendor environment where collaboration is promoted under the core Eclipse Foundation principles, like transparency and openness. Read the <a href="https://www.eclipse.org/org/workinggroups/oniro-charter.php">draft charter</a>.</p>
    </div>
</div>